<template name="Home">
	<button class="direction" data-tag="0">UP</button>
    <button class="direction" data-tag="2">DOWN</button>
    <button class="direction" data-tag="4">RIGHT</button>
    <button class="direction" data-tag="6">LEFT</button>
    <button class="direction" data-tag="25">CENTER</button>
    <button class="connectToWIFI">Connect</button>
    <button class="scanIt">Get Wireless</button>
    <button class="captureImage">Capture Image</button>
    <img id="foscam" src="{{videoSrc}}" alt=""/>
    <canvas id="testing" height="480" width="640"></canvas>
</template>
